table, th, td {border:1px solid #000;}
th, td {padding:7px}
.Nome{background-color: blue;}
.Email{background-color: aqua;}
.Telefone{background-color: blueviolet;}
.Cargo{background-color: antiquewhite;}

div  {background-color: rgb(194, 36, 36); padding: 20px;}
span {background-color: red;}